n8n/nexus-full-ai-workflow.json
{
  "name": "Mente Nexus - Agente de Elite WhatsApp",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "1",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "mente-nexus-whatsapp"
    },
    {
      "parameters": {
        "agent": "conversational",
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "systemPrompt": "Você é o Mente Nexus, um assistente virtual inteligente e empático. Seu objetivo é facilitar a gestão de clientes e agendamentos na clínica. Trate os usuários com respeito, eficiência e clareza. O telefone do usuário atual é: {{ $json.body.from }}. Se não souber o nome dele, busque pelo telefone primeiro.",
        "options": {}
      },
      "id": "2",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "qwen2.5-coder:32b-instruct-q6_K",
        "options": {
          "baseUrl": "http://187.77.253.153:11434"
        }
      },
      "id": "3",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [350, 520]
    },
    {
      "parameters": {},
      "id": "4",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryWindowBuffer",
      "typeVersion": 1,
      "position": [450, 520]
    },
    {
      "parameters": {
        "name": "buscar_cliente",
        "description": "Utilize essa ferramenta quando precisar encontrar as informações de um cliente por meio do telefone. Forneça o telefone (string).",
        "method": "GET",
        "url": "=http://localhost:3001/api/clientes/busca/{{ $arg1 }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Clinica-ID",
              "value": "5511999999999"
            }
          ]
        }
      },
      "id": "5",
      "name": "Tool: Buscar Cliente",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [600, 450]
    },
    {
      "parameters": {
        "name": "cadastrar_cliente",
        "description": "Permite cadastrar novos clientes. Forneça o nome (string) e o telefone (string).",
        "method": "POST",
        "url": "=http://localhost:3001/webhook/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Clinica-ID",
              "value": "5511999999999"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"clinica_id\": \"5511999999999\",\n  \"nome\": \"{{ $arg1 }}\",\n  \"telefone\": \"{{ $arg2 }}\"\n}"
      },
      "id": "6",
      "name": "Tool: Cadastrar Cliente",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [700, 450]
    },
    {
      "parameters": {
        "name": "listar_profissionais",
        "description": "Obtém a lista de profissionais registrados na clínica.",
        "method": "GET",
        "url": "http://72.60.11.33:3001/api/profissionais",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Clinica-ID",
              "value": "5511999999999"
            }
          ]
        }
      },
      "id": "7",
      "name": "Tool: Listar Profissionais",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [800, 450]
    },
    {
      "parameters": {
        "name": "ver_disponibilidade",
        "description": "Verifica horários livres para um profissional em uma data. Requer data (YYYY-MM-DD) e profissional_id (number).",
        "method": "GET",
        "url": "=http://localhost:3001/api/disponibilidade?data={{ $arg1 }}&profissional_id={{ $arg2 }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Clinica-ID",
              "value": "5511999999999"
            }
          ]
        }
      },
      "id": "8",
      "name": "Tool: Ver Disponibilidade",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [900, 450]
    },
    {
      "parameters": {
        "name": "agendar",
        "description": "Realiza o agendamento final. Forneça cliente_id (number), profissional_id (number) e data_hora (ISO string).",
        "method": "POST",
        "url": "http://72.60.11.33:3001/api/agendamentos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Clinica-ID",
              "value": "5511999999999"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"cliente_id\": {{ $arg1 }},\n  \"profissional_id\": {{ $arg2 }},\n  \"data_hora\": \"{{ $arg3 }}\"\n}"
      },
      "id": "9",
      "name": "Tool: Realizar Agendamento",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [1000, 450]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Buscar Cliente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Cadastrar Cliente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Listar Profissionais": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Ver Disponibilidade": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Realizar Agendamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}
