n8n/nexus-ai-agent-v2.json
{
  "name": "Mente Nexus AI Agent - WhatsApp",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "1",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "agent": "conversational",
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "systemPrompt": "Você é o assistente virtual da Clínica Mente Nexus. Seu objetivo é atender os pacientes de forma empática e eficiente pelo WhatsApp. O ID do cliente é o número de telefone dele: {{ $json.body.from }}. \n\nInstruções:\n1. Primeiro passo para o bem-estar: Se não souber o nome, pergunte gentilmente.\n2. Se for novo cliente, use a tool 'cadastrar_cliente'.\n3. Para agendar, consulte a tool 'listar_agenda' para ver conflitos e depois 'criar_agendamento'.\n\nSeja um guia para o bem-estar do paciente.",
        "options": {}
      },
      "id": "2",
      "name": "AI Agent Mente Nexus",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "model": "qwen3.5:35b",
        "options": {
          "baseUrl": "http://187.77.253.153:11434"
        }
      },
      "id": "3",
      "name": "Ollama LLM (VPS)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [300, 500]
    },
    {
      "parameters": {
        "name": "buscar_cliente",
        "description": "Busca se o cliente já existe pelo telefone.",
        "method": "GET",
        "url": "=http://SEU_IP_BACKEND:3001/api/clientes/busca/{{ $from }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Clinica-ID",
              "value": "5511999999999"
            }
          ]
        }
      },
      "id": "4",
      "name": "Tool: Buscar Cliente",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [600, 500]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent Mente Nexus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama LLM (VPS)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Mente Nexus",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Buscar Cliente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Mente Nexus",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}
